In [1]:
import requests
import json
import pandas as pd
import regex as re
import os
import numpy as np

In [2]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {'Content-type': 'application/json'}
api_key = os.getenv('PROJECT_API_KEY')
api_key = "5d1c47e15eb04c388889fc376098df48"

In [3]:
item_code = {
'APU0000701111',
 'APU0000701312',
 'APU0000701322',
 'APU0000702111',
 'APU0000702212',
 'APU0000702421',
 'APU0000703111',
 'APU0000703112',
 'APU0000703113',
 'APU0000703213',
 'APU0000703311',
 'APU0000703432',
 'APU0000703511',
 'APU0000703512',
 'APU0000703613',
 'APU0000704111',
 'APU0000704211',
 'APU0000704212',
 'APU0000704312',
 'APU0000706111',
 'APU0000706212',
 'APU0000708111',
 'APU0000709112',
 'APU0000710211',
 'APU0000710212',
 'APU0000710411',
 'APU0000711211',
 'APU0000711311',
 'APU0000711411',
 'APU0000711412',
 'APU0000711415',
 'APU0000712112',
 'APU0000712211',
 'APU0000712311',
 'APU0000713111',
 'APU0000714221',
 'APU0000714233',
 'APU0000715211',
 'APU0000717311',
 'APU0000718311',
 'APU0000720111',
 'APU0000720222',
 'APU0000720311',
 'APU0000FC1101',
 'APU0000FC2101',
 'APU0000FC3101',
 'APU0000FC4101',
 'APU0000FD2101',
 'APU0000FD3101',
 'APU0000FD4101',
 'APU0000FF1101',
 'APU0000FJ1101',
 'APU0000FJ4101',
 'APU0000FL2101',
 'APU0000FN1101',
 'APU0000FN1102',
 'APU0000FS1101'
}

In [4]:
data = {
    "seriesid": list(item_code),
    "startyear": "2024",
    "endyear": "2025"
    # "registrationkey": api_key
}

response = requests.post(url, data=json.dumps(data), headers=headers)
response_data = response.json()

if response_data.get('status') == 'REQUEST_SUCCEEDED':
    if 'series' in response_data['Results'] and response_data['Results']['series']:
        for series_data in response_data['Results']['series']:
            print(f"Data for series ID {series_data['seriesID']}: {series_data['data'][:5]}")  # Print first 5 data points
    else:
        print("No data available for the provided series IDs.")
else:
    print(f"Failed to fetch data. Status: {response_data.get('status')}")

Data for series ID APU0000709112: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '4.029', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '4.022', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '4.074', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '4.050', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '4.026', 'footnotes': [{}]}]
Data for series ID APU0000713111: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '4.493', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '4.429', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '4.440', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '4.482', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '4.492', 'footnotes': [{}]}]
Data for series ID APU0000FC2101: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '8.203', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '7.939', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '7.995', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '7.992', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '7.995', 'footnotes': [{}]}]
Data for series ID APU0000720222: [{'year': '2024', 'period': 'M04', 'periodName': 'April', 'latest': 'true', 'value': '12.499', 'footnotes': [{}]}, {'year': '2024', 'period': 'M03', 'periodName': 'March', 'value': '12.586', 'footnotes': [{}]}, {'year': '2024', 'period': 'M02', 'periodName': 'February', 'value': '12.539', 'footnotes': [{}]}, {'year': '2024', 'period': 'M01', 'periodName': 'January', 'value': '12.404', 'footnotes': [{}]}]
Data for series ID APU0000703113: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '7.672', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '7.688', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '7.551', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '7.476', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '7.244', 'footnotes': [{}]}]
Data for series ID APU0000710212: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '5.999', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '5.908', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '5.743', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '5.737', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '5.536', 'footnotes': [{}]}]
Data for series ID APU0000711411: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '1.715', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '1.675', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '1.699', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '1.695', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '1.668', 'footnotes': [{}]}]
Data for series ID APU0000702421: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '5.108', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '5.049', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '4.956', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '4.863', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '4.658', 'footnotes': [{}]}]
Data for series ID APU0000704211: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '4.617', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '4.505', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '4.454', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '4.498', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '4.463', 'footnotes': [{}]}]
Data for series ID APU0000FN1101: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '2.183', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '2.129', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '2.104', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '2.103', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '2.101', 'footnotes': [{}]}]
Data for series ID APU0000703512: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '8.394', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '8.199', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '8.126', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '8.155', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '8.128', 'footnotes': [{}]}]
Data for series ID APU0000711412: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '1.882', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '1.897', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '1.927', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '1.983', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '2.056', 'footnotes': [{}]}]
Data for series ID APU0000710211: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '5.038', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '5.063', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '4.987', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '4.946', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '5.026', 'footnotes': [{}]}]
Data for series ID APU0000714221: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '1.414', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '1.446', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '1.331', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '1.341', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '1.351', 'footnotes': [{}]}]
Data for series ID APU0000715211: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '1.054', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '1.054', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '1.021', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '1.014', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '1.012', 'footnotes': [{}]}]
Data for series ID APU0000702212: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '2.656', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '2.602', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '2.751', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '2.719', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '2.759', 'footnotes': [{}]}]
Data for series ID APU0000704212: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '4.618', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '4.601', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '4.609', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '4.771', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '4.558', 'footnotes': [{}]}]
Data for series ID APU0000703111: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '6.103', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '6.018', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '5.996', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '5.854', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '5.744', 'footnotes': [{}]}]
Data for series ID APU0000706212: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '1.815', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '1.785', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '1.789', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '1.805', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '1.792', 'footnotes': [{}]}]
Data for series ID APU0000703511: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '8.457', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '8.401', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '8.627', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '8.554', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '8.485', 'footnotes': [{}]}]
Data for series ID APU0000704312: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '5.379', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '5.453', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '5.473', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '5.603', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '5.520', 'footnotes': [{}]}]
Data for series ID APU0000FN1102: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '0.579', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '0.558', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '0.581', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '0.583', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '0.572', 'footnotes': [{}]}]
Data for series ID APU0000703432: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '8.016', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '7.729', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '7.733', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '7.601', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '7.677', 'footnotes': [{}]}]
Data for series ID APU0000703213: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '8.197', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '7.875', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '7.980', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '8.097', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '8.104', 'footnotes': [{}]}]
Data for series ID APU0000714233: [{'year': '2025', 'period': 'M06', 'periodName': 'June', 'latest': 'true', 'value': '1.588', 'footnotes': [{}]}, {'year': '2025', 'period': 'M05', 'periodName': 'May', 'value': '1.669', 'footnotes': [{}]}, {'year': '2025', 'period': 'M04', 'periodName': 'April', 'value': '1.674', 'footnotes': [{}]}, {'year': '2025', 'period': 'M03', 'periodName': 'March', 'value': '1.640', 'footnotes': [{}]}, {'year': '2025', 'period': 'M02', 'periodName': 'February', 'value': '1.631', 'footnotes': [{}]}]

In [5]:
response_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 317,
 'message': ['Requested Series list has been reduced to the system-allowed limit of 25 series.',
  'No Data Available for Series APU0000720222 Year: 2025'],
 'Results': {'series': [{'seriesID': 'APU0000709112',
    'data': [{'year': '2025',
      'period': 'M06',
      'periodName': 'June',
      'latest': 'true',
      'value': '4.029',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.022',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.074',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.050',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.026',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.025',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M12',
      'periodName': 'December',
      'value': '4.101',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M11',
      'periodName': 'November',
      'value': '4.138',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M10',
      'periodName': 'October',
      'value': '4.041',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M09',
      'periodName': 'September',
      'value': '4.021',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M08',
      'periodName': 'August',
      'value': '4.044',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M07',
      'periodName': 'July',
      'value': '3.983',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M06',
      'periodName': 'June',
      'value': '3.956',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M05',
      'periodName': 'May',
      'value': '3.864',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M04',
      'periodName': 'April',
      'value': '3.868',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M03',
      'periodName': 'March',
      'value': '3.893',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M02',
      'periodName': 'February',
      'value': '3.940',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M01',
      'periodName': 'January',
      'value': '3.958',
      'footnotes': [{}]}]},
   {'seriesID': 'APU0000713111',
    'data': [{'year': '2025',
      'period': 'M06',
      'periodName': 'June',
      'latest': 'true',
      'value': '4.493',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.429',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.440',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.482',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.492',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.480',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M12',
      'periodName': 'December',
      'value': '4.289',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M11',
      'periodName': 'November',
      'value': '4.306',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M10',
      'periodName': 'October',
      'value': '4.247',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M09',
      'periodName': 'September',
      'value': '4.227',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M08',
      'periodName': 'August',
      'value': '4.273',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M07',
      'periodName': 'July',
      'value': '4.248',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M06',
      'periodName': 'June',
      'value': '4.258',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.194',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.278',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.259',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.214',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.111',
      'footnotes': [{}]}]},
   {'seriesID': 'APU0000FC2101',
    'data': [{'year': '2025',
      'period': 'M06',
      'periodName': 'June',
      'latest': 'true',
      'value': '8.203',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M05',
      'periodName': 'May',
      'value': '7.939',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M04',
      'periodName': 'April',
      'value': '7.995',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M03',
      'periodName': 'March',
      'value': '7.992',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M02',
      'periodName': 'February',
      'value': '7.995',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M01',
      'periodName': 'January',
      'value': '7.718',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M12',
      'periodName': 'December',
      'value': '7.719',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M11',
      'periodName': 'November',
      'value': '7.598',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M10',
      'periodName': 'October',
      'value': '7.368',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M09',
      'periodName': 'September',
      'value': '7.582',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M08',
      'periodName': 'August',
      'value': '7.630',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M07',
      'periodName': 'July',
      'value': '7.638',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M06',
      'periodName': 'June',
      'value': '7.472',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M05',
      'periodName': 'May',
      'value': '7.470',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M04',
      'periodName': 'April',
      'value': '7.470',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M03',
      'periodName': 'March',
      'value': '7.395',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M02',
      'periodName': 'February',
      'value': '7.351',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M01',
      'periodName': 'January',
      'value': '7.268',
      'footnotes': [{}]}]},
   {'seriesID': 'APU0000720222',
    'data': [{'year': '2024',
      'period': 'M04',
      'periodName': 'April',
      'latest': 'true',
      'value': '12.499',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M03',
      'periodName': 'March',
      'value': '12.586',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M02',
      'periodName': 'February',
      'value': '12.539',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M01',
      'periodName': 'January',
      'value': '12.404',
      'footnotes': [{}]}]},
   {'seriesID': 'APU0000703113',
    'data': [{'year': '2025',
      'period': 'M06',
      'periodName': 'June',
      'latest': 'true',
      'value': '7.672',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M05',
      'periodName': 'May',
      'value': '7.688',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M04',
      'periodName': 'April',
      'value': '7.551',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M03',
      'periodName': 'March',
      'value': '7.476',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M02',
      'periodName': 'February',
      'value': '7.244',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M01',
      'periodName': 'January',
      'value': '7.110',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M12',
      'periodName': 'December',
      'value': '7.124',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M11',
      'periodName': 'November',
      'value': '6.977',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M10',
      'periodName': 'October',
      'value': '7.220',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M09',
      'periodName': 'September',
      'value': '7.223',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M08',
      'periodName': 'August',
      'value': '6.918',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M07',
      'periodName': 'July',
      'value': '7.169',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M06',
      'periodName': 'June',
      'value': '6.893',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M05',
      'periodName': 'May',
      'value': '6.847',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M04',
      'periodName': 'April',
      'value': '6.809',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M03',
      'periodName': 'March',
      'value': '6.734',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M02',
      'periodName': 'February',
      'value': '6.651',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M01',
      'periodName': 'January',
      'value': '6.778',
      'footnotes': [{}]}]},
   {'seriesID': 'APU0000710212',
    'data': [{'year': '2025',
      'period': 'M06',
      'periodName': 'June',
      'latest': 'true',
      'value': '5.999',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.908',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.743',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.737',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M02',
      'periodName': 'February',
      'value': '5.536',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M01',
      'periodName': 'January',
      'value': '5.698',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M12',
      'periodName': 'December',
      'value': '5.621',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M11',
      'periodName': 'November',
      'value': '5.676',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M10',
      'periodName': 'October',
      'value': '5.844',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M09',
      'periodName': 'September',
      'value': '5.731',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.763',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.599',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.537',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.551',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.510',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.689',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M02',
      'periodName': 'February',
      'value': '5.726',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M01',
      'periodName': 'January',
      'value': '5.724',
      'footnotes': [{}]}]},
   {'seriesID': 'APU0000711411',
    'data': [{'year': '2025',
      'period': 'M06',
      'periodName': 'June',
      'latest': 'true',
      'value': '1.715',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M05',
      'periodName': 'May',
      'value': '1.675',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M04',
      'periodName': 'April',
      'value': '1.699',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M03',
      'periodName': 'March',
      'value': '1.695',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M02',
      'periodName': 'February',
      'value': '1.668',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M01',
      'periodName': 'January',
      'value': '1.676',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M12',
      'periodName': 'December',
      'value': '1.733',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M11',
      'periodName': 'November',
      'value': '1.713',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M09',
      'periodName': 'September',
      'value': '1.673',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M08',
      'periodName': 'August',
      'value': '1.586',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M07',
      'periodName': 'July',
      'value': '1.649',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M06',
      'periodName': 'June',
      'value': '1.665',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M05',
      'periodName': 'May',
      'value': '1.648',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M04',
      'periodName': 'April',
      'value': '1.696',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M03',
      'periodName': 'March',
      'value': '1.700',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M02',
      'periodName': 'February',
      'value': '1.691',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M01',
      'periodName': 'January',
      'value': '1.712',
      'footnotes': [{}]}]},
   {'seriesID': 'APU0000702421',
    'data': [{'year': '2025',
      'period': 'M06',
      'periodName': 'June',
      'latest': 'true',
      'value': '5.108',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.049',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.956',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.863',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.658',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.895',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M12',
      'periodName': 'December',
      'value': '4.773',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M11',
      'periodName': 'November',
      'value': '4.918',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M10',
      'periodName': 'October',
      'value': '4.852',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M09',
      'periodName': 'September',
      'value': '5.173',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M08',
      'periodName': 'August',
      'value': '5.046',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M07',
      'periodName': 'July',
      'value': '5.102',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M06',
      'periodName': 'June',
      'value': '5.017',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M05',
      'periodName': 'May',
      'value': '5.124',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M04',
      'periodName': 'April',
      'value': '5.121',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M03',
      'periodName': 'March',
      'value': '5.145',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M02',
      'periodName': 'February',
      'value': '5.248',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M01',
      'periodName': 'January',
      'value': '5.019',
      'footnotes': [{}]}]},
   {'seriesID': 'APU0000704211',
    'data': [{'year': '2025',
      'period': 'M06',
      'periodName': 'June',
      'latest': 'true',
      'value': '4.617',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.505',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.454',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.498',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.463',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.625',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M12',
      'periodName': 'December',
      'value': '4.580',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M11',
      'periodName': 'November',
      'value': '4.647',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M10',
      'periodName': 'October',
      'value': '4.487',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M09',
      'periodName': 'September',
      'value': '4.620',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M08',
      'periodName': 'August',
      'value': '4.640',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M07',
      'periodName': 'July',
      'value': '4.568',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M06',
      'periodName': 'June',
      'value': '4.616',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M05',
      'periodName': 'May',
      'value': '4.545',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M04',
      'periodName': 'April',
      'value': '4.332',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M03',
      'periodName': 'March',
      'value': '4.333',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M02',
      'periodName': 'February',
      'value': '4.400',
      'footnotes': [{}]},
     {'year': '2024',
      'period': 'M01',
      'periodName': 'January',
      'value': '4.534',
      'footnotes': [{}]}]},
   {'seriesID': 'APU0000FN1101',
    'data': [{'year': '2025',
      'period': 'M06',
      'periodName': 'June',
      'latest': 'true',
      'value': '2.183',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M05',
      'periodName': 'May',
      'value': '2.129',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M04',
      'periodName': 'April',
      'value': '2.104',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M03',
      'periodName': 'March',
      'value': '2.103',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M02',
      'periodName': 'February',
      'value': '2.101',
      'footnotes': [{}]},
     {'year': '2025',
      'period': 'M01',
      'periodName': 'January',
      'value': '2.093',

In [9]:
if 'Results' in response_data and 'series' in response_data['Results']:
    series_list = response_data['Results']['series']
    response_df = pd.DataFrame([
        {
            'seriesID': series['seriesID'],
            **data_point
        }
        for series in series_list
        for data_point in series['data']
    ])
else:
    print("No data available to convert to DataFrame.")

In [10]:
response_df.to_csv('bls_data.csv', index=False)

In [11]:
response_df['seriesID'].value_counts()

seriesID
APU0000709112    18
APU0000714221    18
APU0000703213    18
APU0000703432    18
APU0000FN1102    18
APU0000704312    18
APU0000703511    18
APU0000706212    18
APU0000703111    18
APU0000704212    18
APU0000702212    18
APU0000715211    18
APU0000710211    18
APU0000713111    18
APU0000711412    18
APU0000FN1101    18
APU0000704211    18
APU0000702421    18
APU0000710212    18
APU0000703113    18
APU0000FC2101    18
APU0000714233    18
APU0000711411    17
APU0000703512    12
APU0000720222     4
Name: count, dtype: int64

In [12]:
response_df['date'] = pd.to_datetime(response_df['periodName'] + ' ' + response_df['year'].astype(str), format='%B %Y')

In [13]:
response_df

          seriesID  year period periodName latest  value footnotes       date
0    APU0000709112  2025    M06       June   true  4.029      [{}] 2025-06-01
1    APU0000709112  2025    M05        May    NaN  4.022      [{}] 2025-05-01
2    APU0000709112  2025    M04      April    NaN  4.074      [{}] 2025-04-01
3    APU0000709112  2025    M03      March    NaN  4.050      [{}] 2025-03-01
4    APU0000709112  2025    M02   February    NaN  4.026      [{}] 2025-02-01
..             ...   ...    ...        ...    ...    ...       ...        ...
424  APU0000714233  2024    M05        May    NaN  1.703      [{}] 2024-05-01
425  APU0000714233  2024    M04      April    NaN  1.647      [{}] 2024-04-01
426  APU0000714233  2024    M03      March    NaN  1.648      [{}] 2024-03-01
427  APU0000714233  2024    M02   February    NaN  1.625      [{}] 2024-02-01
428  APU0000714233  2024    M01    January    NaN  1.589      [{}] 2024-01-01

[429 rows x 8 columns]

In [14]:
longform_df = response_df.pivot(index='date', columns='seriesID', values='value')
print(longform_df.head())

seriesID   APU0000702212 APU0000702421 APU0000703111 APU0000703113  \
date
2024-01-01         2.631         5.019         5.093         6.778
2024-02-01         2.604         5.248         5.213         6.651
2024-03-01         2.585         5.145         5.421         6.734
2024-04-01         2.625         5.121         5.277         6.809
2024-05-01         2.749         5.124         5.331         6.847

seriesID   APU0000703213 APU0000703432 APU0000703511 APU0000703512  \
date
2024-01-01         7.255         7.001         8.106           NaN
2024-02-01         7.513         6.839         7.883           NaN
2024-03-01         7.362         6.991         8.031           NaN
2024-04-01         7.516         7.197         8.110           NaN
2024-05-01         7.531         7.229         8.247           NaN

seriesID   APU0000704211 APU0000704212  ... APU0000711411 APU0000711412  \
date                                    ...
2024-01-01         4.534         4.524  ...         1.712         2.087
2024-02-01         4.400         4.377  ...         1.691         2.036
2024-03-01         4.333         4.527  ...         1.700         2.034
2024-04-01         4.332         4.511  ...         1.696         1.982
2024-05-01         4.545         4.634  ...         1.648         1.923

seriesID   APU0000713111 APU0000714221 APU0000714233 APU0000715211  \
date
2024-01-01         4.111         1.379         1.589         0.975
2024-02-01         4.214         1.392         1.625         0.984
2024-03-01         4.259         1.396         1.648         0.984
2024-04-01         4.278         1.402         1.647         1.006
2024-05-01         4.194         1.334         1.703         1.001

seriesID   APU0000720222 APU0000FC2101 APU0000FN1101 APU0000FN1102
date
2024-01-01        12.404         7.268         2.214         0.613
2024-02-01        12.539         7.351         2.245         0.581
2024-03-01        12.586         7.395         2.282         0.573
2024-04-01        12.499         7.470         2.277         0.593
2024-05-01           NaN         7.470         2.236         0.563

[5 rows x 25 columns]

In [15]:
longform_df

seriesID,APU0000702212,APU0000702421,APU0000703111,APU0000703113,APU0000703213,APU0000703432,APU0000703511,APU0000703512,APU0000704211,APU0000704212,...,APU0000711411,APU0000711412,APU0000713111,APU0000714221,APU0000714233,APU0000715211,APU0000720222,APU0000FC2101,APU0000FN1101,APU0000FN1102
date,,,,,,,,,,,,,,,,,,,,,
2024-01-01,2.631,5.019,5.093,6.778,7.255,7.001,8.106,NaN,4.534,4.524,...,1.712,2.087,4.111,1.379,1.589,0.975,12.404,7.268,2.214,0.613
2024-02-01,2.604,5.248,5.213,6.651,7.513,6.839,7.883,NaN,4.400,4.377,...,1.691,2.036,4.214,1.392,1.625,0.984,12.539,7.351,2.245,0.581
2024-03-01,2.585,5.145,5.421,6.734,7.362,6.991,8.031,NaN,4.333,4.527,...,1.700,2.034,4.259,1.396,1.648,0.984,12.586,7.395,2.282,0.573
2024-04-01,2.625,5.121,5.277,6.809,7.516,7.197,8.110,NaN,4.332,4.511,...,1.696,1.982,4.278,1.402,1.647,1.006,12.499,7.470,2.277,0.593
2024-05-01,2.749,5.124,5.331,6.847,7.531,7.229,8.247,NaN,4.545,4.634,...,1.648,1.923,4.194,1.334,1.703,1.001,NaN,7.470,2.236,0.563
2024-06-01,2.775,5.017,5.364,6.893,7.649,7.239,7.927,NaN,4.616,4.589,...,1.665,1.977,4.258,1.351,1.681,1.004,NaN,7.472,2.021,0.564
2024-07-01,2.693,5.102,5.470,7.169,7.781,7.145,8.059,7.886,4.568,4.652,...,1.649,1.989,4.248,1.366,1.713,1.004,NaN,7.638,2.087,0.577
2024-08-01,2.674,5.046,5.638,6.918,7.692,7.298,8.226,7.966,4.640,4.622,...,1.586,1.959,4.273,1.311,1.711,1.004,NaN,7.630,2.056,0.583
2024-09-01,2.748,5.173,5.576,7.223,7.596,7.217,8.148,8.090,4.620,4.615,...,1.673,1.999,4.227,1.350,1.705,1.007,NaN,7.582,1.998,0.576
2024-10-01,2.833,4.852,5.586,7.220,7.301,7.177,8.154,7.816,4.487,4.585,...,NaN,2.056,4.247,1.330,1.678,1.003,NaN,7.368,2.032,0.567
2024-11-01,2.724,4.918,5.605,6.977,7.578,7.432,8.159,7.626,4.647,4.874,...,1.713,2.116,4.306,1.294,1.651,1.000,NaN,7.598,1.982,0.551
2024-12-01,2.796,4.773,5.576,7.124,7.769,7.393,8.136,7.626,4.580,4.658,...,1.733,2.121,4.289,1.304,1.655,0.992,NaN,7.719,1.845,0.541
2025-01-01,2.760,4.895,5.495,7.110,7.694,7.318,8.280,8.055,4.625,4.530,...,1.676,2.080,4.480,1.330,1.654,1.011,NaN,7.718,2.093,0.582
2025-02-01,2.759,4.658,5.744,7.244,8.104,7.677,8.485,8.128,4.463,4.558,...,1.668,2.056,4.492,1.351,1.631,1.012,NaN,7.995,2.101,0.572
2025-03-01,2.719,4.863,5.854,7.476,8.097,7.601,8.554,8.155,4.498,4.771,...,1.695,1.983,4.482,1.341,1.640,1.014,NaN,7.992,2.103,0.583
2025-04-01,2.751,4.956,5.996,7.551,7.980,7.733,8.627,8.126,4.454,4.609,...,1.699,1.927,4.440,1.331,1.674,1.021,NaN,7.995,2.104,0.581
2025-05-01,2.602,5.049,6.018,7.688,7.875,7.729,8.401,8.199,4.505,4.601,...,1.675,1.897,4.429,1.446,1.669,1.054,NaN,7.939,2.129,0.558
2025-06-01,2.656,5.108,6.103,7.672,8.197,8.016,8.457,8.394,4.617,4.618,...,1.715,1.882,4.493,1.414,1.588,1.054,NaN,8.203,2.183,0.579

In [16]:
response_df['seriesID']

0      APU0000709112
1      APU0000709112
2      APU0000709112
3      APU0000709112
4      APU0000709112
           ...
424    APU0000714233
425    APU0000714233
426    APU0000714233
427    APU0000714233
428    APU0000714233
Name: seriesID, Length: 429, dtype: object

In [18]:
series_name = pd.read_csv('data/series_name.csv', index_col=0)

In [19]:
response_df = response_df.merge(series_name, left_on='seriesID', right_index=True, how='left')
response_df.head()

,seriesID,year,period,periodName,latest,value,footnotes,date,item_name
0,APU0000709112,2025,M06,June,true,4.029,[{}],2025-06-01,"Milk, fresh, whole, fortified, per gal."
1,APU0000709112,2025,M05,May,NaN,4.022,[{}],2025-05-01,"Milk, fresh, whole, fortified, per gal."
2,APU0000709112,2025,M04,April,NaN,4.074,[{}],2025-04-01,"Milk, fresh, whole, fortified, per gal."
3,APU0000709112,2025,M03,March,NaN,4.050,[{}],2025-03-01,"Milk, fresh, whole, fortified, per gal."
4,APU0000709112,2025,M02,February,NaN,4.026,[{}],2025-02-01,"Milk, fresh, whole, fortified, per gal."

In [21]:
longform_df = response_df.pivot(index='date', columns='item_name', values='value')
longform_df.head()

item_name,"All Uncooked Beef Roasts, per lb.","All soft drinks, 12 pk, 12 oz., cans, per 12 oz.","All soft drinks, per 2 liters","American processed cheese, per lb.","Beans, dried, any type, all sizes, per lb.","Beef for stew, boneless, per lb.","Bread, whole wheat, pan, per lb.","Cheddar cheese, natural, per lb.","Chicken legs, bone-in, per lb.","Chops, boneless, per lb.",...,"Ground beef, lean and extra lean, per lb.","Ground chuck, 100% beef, per lb.","Ham, boneless, excluding canned, per lb.","Lemons, per lb.","Milk, fresh, whole, fortified, per gal.","Orange juice, frozen concentrate, 12 oz. can, per 16 oz.","Steak, round, USDA Choice, boneless, per lb.","Steak, round, graded and ungraded, excluding USDA Prime and Choice, per lb.","Sugar, white, all sizes, per lb.","Vodka, all types, all sizes, any origin, per 1 liter"
date,,,,,,,,,,,,,,,,,,,,,
2024-01-01,7.268,0.613,2.214,4.904,1.589,7.001,2.631,5.724,1.825,4.524,...,6.778,5.093,5.532,2.087,3.958,4.111,8.106,NaN,0.975,12.404
2024-02-01,7.351,0.581,2.245,4.769,1.625,6.839,2.604,5.726,1.752,4.377,...,6.651,5.213,5.666,2.036,3.940,4.214,7.883,NaN,0.984,12.539
2024-03-01,7.395,0.573,2.282,4.854,1.648,6.991,2.585,5.689,1.821,4.527,...,6.734,5.421,5.572,2.034,3.893,4.259,8.031,NaN,0.984,12.586
2024-04-01,7.470,0.593,2.277,4.776,1.647,7.197,2.625,5.510,1.815,4.511,...,6.809,5.277,5.594,1.982,3.868,4.278,8.110,NaN,1.006,12.499
2024-05-01,7.470,0.563,2.236,4.819,1.703,7.229,2.749,5.551,1.833,4.634,...,6.847,5.331,5.668,1.923,3.864,4.194,8.247,NaN,1.001,NaN

### Export data for multiple charts

In [22]:
longform_df.to_csv('data/bls_chart.csv')

## Prepare data for table format

### Get the latest rows for percent change

In [24]:
latest_rows = longform_df.tail(2)
latest_rows

item_name,"All Uncooked Beef Roasts, per lb.","All soft drinks, 12 pk, 12 oz., cans, per 12 oz.","All soft drinks, per 2 liters","American processed cheese, per lb.","Beans, dried, any type, all sizes, per lb.","Beef for stew, boneless, per lb.","Bread, whole wheat, pan, per lb.","Cheddar cheese, natural, per lb.","Chicken legs, bone-in, per lb.","Chops, boneless, per lb.",...,"Ground beef, lean and extra lean, per lb.","Ground chuck, 100% beef, per lb.","Ham, boneless, excluding canned, per lb.","Lemons, per lb.","Milk, fresh, whole, fortified, per gal.","Orange juice, frozen concentrate, 12 oz. can, per 16 oz.","Steak, round, USDA Choice, boneless, per lb.","Steak, round, graded and ungraded, excluding USDA Prime and Choice, per lb.","Sugar, white, all sizes, per lb.","Vodka, all types, all sizes, any origin, per 1 liter"
date,,,,,,,,,,,,,,,,,,,,,
2025-05-01,7.939,0.558,2.129,5.063,1.669,7.729,2.602,5.908,1.785,4.601,...,7.688,6.018,5.453,1.897,4.022,4.429,8.401,8.199,1.054,NaN
2025-06-01,8.203,0.579,2.183,5.038,1.588,8.016,2.656,5.999,1.815,4.618,...,7.672,6.103,5.379,1.882,4.029,4.493,8.457,8.394,1.054,NaN

In [27]:
transposed_latest_rows = latest_rows.transpose()
transposed_latest_rows.head()

date                                             2025-05-01 2025-06-01
item_name
All Uncooked Beef Roasts, per lb.                     7.939      8.203
All soft drinks, 12 pk, 12 oz., cans, per 12 oz.      0.558      0.579
All soft drinks, per 2 liters                         2.129      2.183
American processed cheese, per lb.                    5.063      5.038
Beans, dried, any type, all sizes, per lb.            1.669      1.588

### Get percentage change

In [28]:
transposed_latest_rows = transposed_latest_rows.dropna()
transposed_latest_rows.head()

date                                             2025-05-01 2025-06-01
item_name
All Uncooked Beef Roasts, per lb.                     7.939      8.203
All soft drinks, 12 pk, 12 oz., cans, per 12 oz.      0.558      0.579
All soft drinks, per 2 liters                         2.129      2.183
American processed cheese, per lb.                    5.063      5.038
Beans, dried, any type, all sizes, per lb.            1.669      1.588

In [30]:
transposed_latest_rows['change'] = transposed_latest_rows.apply(
    lambda row: ((float(row.iloc[1]) - float(row.iloc[0])) / float(row.iloc[0]) * 100) if pd.notna(row.iloc[0]) and pd.notna(row.iloc[1]) else None,
    axis=1
)
transposed_latest_rows

date,2025-05-01 00:00:00,2025-06-01 00:00:00,change
item_name,,,
"All Uncooked Beef Roasts, per lb.",7.939,8.203,3.325356
"All soft drinks, 12 pk, 12 oz., cans, per 12 oz.",0.558,0.579,3.763441
"All soft drinks, per 2 liters",2.129,2.183,2.536402
"American processed cheese, per lb.",5.063,5.038,-0.493778
"Beans, dried, any type, all sizes, per lb.",1.669,1.588,-4.853206
"Beef for stew, boneless, per lb.",7.729,8.016,3.713288
"Bread, whole wheat, pan, per lb.",2.602,2.656,2.075327
"Cheddar cheese, natural, per lb.",5.908,5.999,1.540284
"Chicken legs, bone-in, per lb.",1.785,1.815,1.680672
"Chops, boneless, per lb.",4.601,4.618,0.369485
"Chops, center cut, bone-in, per lb.",4.505,4.617,2.486127
"Chuck roast, USDA Choice, boneless, per lb.",7.875,8.197,4.088889
"Cookies, chocolate chip, per lb.",5.049,5.108,1.168548
"Corn, canned, any style, all sizes, per lb.",1.446,1.414,-2.213001
"Grapefruit, per lb.",1.675,1.715,2.388060
"Ground beef, lean and extra lean, per lb.",7.688,7.672,-0.208117
"Ground chuck, 100% beef, per lb.",6.018,6.103,1.412429
"Ham, boneless, excluding canned, per lb.",5.453,5.379,-1.357051
"Lemons, per lb.",1.897,1.882,-0.790722
"Milk, fresh, whole, fortified, per gal.",4.022,4.029,0.174043
"Orange juice, frozen concentrate, 12 oz. can, per 16 oz.",4.429,4.493,1.445021
"Steak, round, USDA Choice, boneless, per lb.",8.401,8.457,0.666587
"Steak, round, graded and ungraded, excluding USDA Prime and Choice, per lb.",8.199,8.394,2.378339
"Sugar, white, all sizes, per lb.",1.054,1.054,0.000000

### Export table

In [31]:
transposed_latest_rows.to_csv('data/bls_table.csv')